Data Analysis and Statistics.pdf
Data Analysis and Statistics: An Expository Overview.odt
Data Analysis and Statistics: An Expository Overview.pdf
CLASS 1/airports.csv
CLASS 1/babynames.zip
CLASS 1/elections.csv
CLASS 1/EVImean.csv
graphics.odp
CLASS 1/majors.csv
CLASS 1/mpg_raw.csv
CLASS 1/names.csv
CLASS 1/namesbystate.zip
CLASS 1/Reporte_Hist_Viaje_11_05_09.17.csv
CLASS 1/Reporte_Hist_Viaje_11_05_09.17.xls
CLASS 1/StormEvents_2013.csv
CLASS 1/StormEvents_2017.csv
CLASS 1/tao.csv
CLASS 1/test.csv
CLASS 1/flightsFeb.csv
CLASS 1/flightsOct.csv