Data Analysis and Statistics.pdf
Data Analysis and Statistics: An Expository Overview.odt
Data Analysis and Statistics: An Expository Overview.pdf
airports.csv
babynames.zip
elections.csv
EVImean.csv
graphics.odp
majors.csv
mpg_raw.csv
names.csv
namesbystate.zip
Reporte_Hist_Viaje_11_05_09.17.csv
Reporte_Hist_Viaje_11_05_09.17.xls
StormEvents_2013.csv
StormEvents_2017.csv
CLASS 1/tao.csv
CLASS 1/test.csv